#!/bin/rc

# This script spawns some Minerva System services.

window -scroll -cd `{pwd} ./products
window -scroll -cd `{pwd} ./rest
window -scroll -cd `{pwd} ./session
window -scroll -cd `{pwd} ./user
